.navbar {
  overflow: hidden;
  position: inherit;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar > a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}

.navbar-right > a {
  float: right;
  display: block;
  color: #2f2f2f;
  text-align: center;
  margin: 0 0 0 1em;
  text-decoration: none;
}

/*.navbar-right > a:hover {
  border-bottom: 2px solid #2f2f2f;
}*/

.logo {
  display: none;
  position: fixed;
  background-color: #fdfdfd;
  width: 100%;
  top: 0;
  padding: 2em 0 1em 0;
  z-index: 9999;
}

.logo > a {
  color: #2f2f2f;
  text-decoration: none;
}

body {
  color: #2f2f2f;
  background-color: #fdfdfd;
  font-family: 'Work Sans', sans-serif;
  max-width: 70em;
  font-size: 100%;
  font-size-adjust: 0.5;
  margin: 0 auto;
  overflow-y: scroll;
  padding: 2em 2em 0 2em;
}

h1 {
  font-size: 2.25em;
  line-height: 1.25em;
}

h2 {
  font-size: 1.75em;
  line-height: 1.25em;
}

p {
  font-size: 1em;
  line-height: 1.375em;
}

body p a {
  text-decoration: none;
  font-weight: 600;
  color: #2f2f2f;
}

.expanding-grid {
  position: relative;
  width: 100%;
}

.links {
  display: block;
  margin: 0 -1em;
  overflow: hidden;
  padding: 0;
}

ul {
  list-style-type: none;
}

.links > li {
  box-sizing: border-box;
  float: left;
  padding: 1em;
}

.links > li a {
  display: block;
  font-size: 1em;
  padding: 0;
  margin: 0 auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.links > li:hover a {
  opacity: 0.75;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity ease 0.5s;
  -moz-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
}

.text {
  color: black;
  background-color: #fdfdfd;
  padding: 1em;
}

.mobile-text {
  text-decoration: none;
  color: #2f2f2f;
  padding: 1em 0 0 0;
}

.links > li:hover a .middle {
  opacity: 1;
}

.links > li img {
  display: block;
  width: 100%;
  overflow: hidden;
}

#article img {
  width: 100%;
}

.quote {
  font-style: italic;
}

footer {
  text-align: left;
  padding-top: 1em;
}

footer > a {
  text-decoration: none;
  background-color: #2f2f2f;
  color: #fdfdfd;
  border-radius: 100%;
  padding: 0.3em 0.3em;
  font-size: 1em;
}

footer > p {
  font-size: 0.8em;
}

@media only screen and (max-width: 39.99em) {
  .links > li {
    width: 100%;
  }
  .links > li:nth-of-type(n+1) {
    clear: left;
  }
  .middle {
    display: none;
  }
}

@media only screen and (min-width: 40em) and (max-width: 59.99em) {
  .links > li {
    width: 50%;
  }
  .links > li:nth-of-type(2n+1) {
    clear: left;
  }
  .work {
    margin-right: 20%;
  }
  .mobile-text {
    display: none;
  }
}

@media only screen and (min-width: 60em) {
  .links > li {
    width: 33.3333333333%;
  }
  .links > li:nth-of-type(3n+1) {
    clear: left;
  }
  .work {
    margin-right: 30%;
  }
  .mobile-text {
    display: none;
  }
}